<!doctype html>
<html>
<head>
    <title>Sixpack Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.min.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <div class="columns">
        <div class="column"></div>
        <div class="column is-two-thirds">
            <h1><span class="fa fa-sign-in"></span> Login</h1>

            <!-- LOGIN FORM -->
            <form action="/auth/login" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input class="input control" type="text" name="email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="input control" name="password">
                </div>
                <button type="submit" class="button is-active">Login</button>
            </form>

            <p>Login with:</p>

            <a href="/auth/google/login" class="button is-danger"><i class="fa fa-google-plus"></i> Google Login</a>

            <p>Signup with:</p>

            <a href="/auth/google/signup" class="button is-danger"><i class="fa fa-google-plus"></i> Google Sign-up</a>

            <% if (error) { %>
            <div class="notification is-warning">
                <%= message %>
            </div>
            <% } %>

        </div>
        <div class="column"></div>

    </div>
</div>
</body>
</html>
